/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

#height_header{
    height: 60px;
}

.bg_header{
    background-color: #F8F9FA;
}


/* ASIDE */

aside{
    width: 150px;
    z-index: 1;
}

aside nav ul li{
    list-style: none;
}

aside nav ul li > a{
    text-decoration: none;
    color: white;
}

.bg_aside{
    background-image: url(img/sidebar-bg.png);
    background-color: #0F283C;
}


/* MAIN */

.bg_color_section_main{
    background-color: #F7F7F7;
}

.main-section{
    height: calc(100vh - 60px);
}

.bg_main_header{
    background-color: #1B72E8;
}

.col-7 > img{
    height: 25px;
}

.border_row{
    border: 0.5px solid #808080;
}

hr{
    width: 100%;
    margin: 5px 0 0 0; 
}

#img_section{
    height: 160px;
    width: auto;
}